body {
  font: 12px sans-serif;
}

/****************************/
/*     FILTER DROPDOWNS     */
/****************************/
.drop-down-menu {
  display: block;
}

.menu-title {
  cursor: pointer;
}

.menu-title {
  display:block;
  padding: 10px 15px;
}

.activate {
  display: none;

  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 40px;
  margin: 0 0 0 -15px;
  opacity: 0;
}

.drop-down {
  max-height: 0;
  overflow: hidden;
}

.drop-down p {
  background: #222;
}

.activate:checked ~ .drop-down {
  max-height: 200px;
  display: block;
}


/********************/
/*     PLOT AREA    */
/********************/
.plot-area {
  display: grid;
  grid-gap: 1px 1px;
  grid-template-areas: ". . . ." ". tooltip . ." ". plot-container side-table ." ". filters-and-options . ." ". . . .";
  grid-template-columns: 1% 70% auto 1%;
  grid-template-rows: 0.1fr 0.4fr 4.6fr 1.1fr 0.2fr;
  height: calc(100vh - 10px);
}

.plot-container {
  grid-area: plot-container;
}

.side-table {
  font-size: 1.2em;
  grid-area: side-table;
  margin-left: 12px;
  margin-top: 16px;
  overflow: scroll;
}

.tooltip {
  grid-area: tooltip;
  grid-column: 2 / span 2;
  margin-left: 24px;
  margin-top: 16px;
  min-height: 60px;
  opacity: 0;
}
.tooltip table {
  border-collapse: collapse;
  border-style: hidden;
  float: center;
  pointer-events: none;
}
.tooltip table td {
  border: 1px solid black;
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}
.tooltip .headers {
  font-weight: bold;
}


.filters-and-options {
  grid-area: filters-and-options;
  grid-column: 2 / span 2;
}


.dot{
    stroke: #000;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/****************/
/*    LASSO     */
/****************/
.lasso path {
  stroke: rgb(80,80,80);
  stroke-width:2px;
}
.lasso .drawn {
  fill-opacity:.05 ;
}
.lasso .loop_close {
  fill:none;
  stroke-dasharray: 4,4;
}
.lasso .origin {
  fill:#3399FF;
  fill-opacity:.5;
}
.not_possible {
  fill:rgb(200,200,200);
}
.possible {
  fill:#EC888C;
}

.bar rect {
  fill: steelblue;
}
.bar text {
  fill: #fff;
  font: 10px sans-serif;
}


/********************/
/*      OPTIONS     */
/********************/
.plot-options-container {
  padding-left: 80px
}

.options-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px 0;
}

.click-on-feature-container,
.color-by-feature-container,
.color-by-feature-options-container,
.search-by-feature-container,
.search-form-container,
.shape-by-feature-container,
.transparency-by-feature-dropdown-container,
.transparency-exact-match-container,
.zoom-container {
  font-size: 1.5em;
}
/* TODO: Refactor using CSS grid, this is still hacky, though less so */
.click-on-feature-container {
  max-width: 220px;
}
.color-by-feature-container {
  max-width: 180px;
}
.color-by-feature-options-container {
  max-width: 300px;
}
.search-by-feature-container {
  max-width: 180px;
}
.search-form-container {
  max-width: 400px;
}
.shape-by-feature-container {
  max-width: 180px;
}
.transparency-by-feature-dropdown-container {
  max-width: 260px;
}
.zoom-container {
  max-width: 600px;
}

input {
  width: 145px;
}
/*The checkbox*/
.input1{
  width : 40px;
}
/*Input textbox for circle and zoom*/
.input2{
  width : 225px;
  height : 25px;
}